#adminsec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--fontText);
  height: 100vh;
  .btngrid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
  }
}

#updatediv {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  ul {
    list-style: none;
    display: flex;
    height: auto;
    max-height: 80vh;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }
}
#aboutupdate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}
form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  min-width: 400px;
  label {
    align-self: flex-start;
    font-size: 20px;
    font-family: var(--fontText);
    color: rgb(88, 82, 82);
  }
  &#dialogform {
    width: 100%;
    & > div {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      .form-row {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        input[type="file"] {
          width: 1px;
          &::-webkit-file-upload-button {
            display: none;
          }
        }
        &:nth-child(2) {
          justify-content: center;
        }
      }
      #listes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        max-height: 50vh;
        overflow: scroll;
        img {
          width: 150px;
          height: 100px;
          object-fit: cover;
        }
      }
    }
  }
  p {
    color: red;
    filter: drop-shadow(0px 0px 10px red);
  }
  div {
    margin-bottom: 20px;
    label.MuiFormLabel-root {
      font-size: 20px;
    }
  }
  .MuiInputBase-input {
    font-size: 20px;
  }
  legend span {
    font-size: 15px;
  }
}
#modifinfo {
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: space-between;
}
@media screen and (max-width: 1080px) {
  #modifinfo {
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
  }
}
#infoprop {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: 0 0 5px rgb(88, 82, 82);
  padding: 10px;
  min-width: 345px;
}
#setComs {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0 0 5px rgb(88, 82, 82);
  min-width: 345px;
  padding: 10px;
  .listComm {
    height: 50vh;
    overflow-y: scroll;
    padding: 10px;
    .communes {
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .grp {
        display: flex;
        flex-direction: row;
        margin: 0;
        margin-left: 80px;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
        div {
          margin: 0;
        }
      }
    }
  }
}
#viewmessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0 0 5px rgb(88, 82, 82);
  padding: 10px;
  .messagelist {
    height: 50vh;
    overflow-y: scroll;
    padding: 10px;
    .mess {
      padding: 5px;
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      border-radius: 7px;
      transition: 0.2s;
      cursor: pointer;
      h4{
        margin: 0;
        font-family: var(--fontText);
      }
      p{
        font-family: var(--fontText);
        color: #000000;
        filter: none;
        margin: 0;
      }
      &:hover{
        box-shadow: 0 0 5px rgb(88, 82, 82);
      }
    }
    .mess.nonvue{
      &::before{
        content: '';
        width: 10px;
        height: 10px;
        z-index: 1;
        position: absolute;
        top: 10px;
        right: 20px;
        border-radius: 100%;
        background-color: #549b83;
      }
    }
  }
}
@media screen and (max-width: 850px) {
  form {
    width: 100%;
    &#dialogform {
      & > div {
        flex-direction: column;
        .form-row {
          width: 100%;
        }
      }
    }
  }
  #updatediv {
    ul {
      transform: translateX(100%);
      background: rgba($color: #000000, $alpha: 0.4);
      padding-top: 20px;
      backdrop-filter: blur(2px);
      position: absolute;
      width: 50vw;
      height: calc(100vh - 140px);
      overflow-y: scroll;
      max-height: 100vh;
      top: 100px;
      right: 0;
      border-radius: 10px 0 0 0;
      transition: 0.5s;
      &.shown {
        width: 50vw;
        align-items: center;
        transform: translateX(0);
      }
    }
  }
}
