body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: var(--backColor);
  font-family: var(--fontText);
}
* { 
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px grey;
    border-radius: 10px;
    color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(80, 141, 6); 
    border-radius: 10px;
    &:active{
      background: white;
    }
  }
  & .MuiPaper-root{
    overflow-x: hidden;
  }
}
@font-face {
  font-family: "BFP";
  src: url("./BeautifulPeoplePersonalUse-dE0g.ttf");
}

@font-face {
  font-family: "Gumela";
  src: url("./Gumela.ttf");
}
@font-face {
  font-family: "PoiretOne";
  src: url("./PoiretOne-Regular.ttf");
}
@font-face {
  font-family: "Work Sans";
  src: url("./WorkSans-Regular.ttf");
}

:root {
  --fontText: "Work Sans";
  --fontNav: "PoiretOne";
  --titre: "BFP";
  --backColor: rgb(52, 54, 54);
}
