.accueil {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}
header {
  height: 100%;
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
  #apropos {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    height: calc(100% - 150px);
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    div {
      display: flex;
      flex-direction: column;
      min-width: 400px;
      width: 100%;
      border-radius: 10px;
      margin: 20px 20px;
      p {
        font-family: "PoiretOne";
        font-weight: bold;
        font-size: 20px;
        margin: 0;
        color: black;
        text-shadow: 0 0 20px white;
        span {
          font-family: "Gumela";
          color: white;
          font-weight: lighter;
          cursor: pointer;
          transition: 0.5s;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      h2 {
        margin: 0;
        font-family: "PoiretOne";
        font-weight: bolder;
        text-decoration: underline;
        text-shadow: 0 0 20px white;
      }
      .icontext {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin: 10px 0;
      }
    }
  }
}
.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateZ(-20px) scale(3.03);
  object-fit: cover;
  z-index: -1;
}

.activity{
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}



@media screen and (max-width: 960px) {
  header #apropos {
    justify-content: center;
    div {
      width: 80%;
    }
  }
}
