#list {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#filtre {
  width: calc(100% - 40px);
  background: transparent;
  box-shadow: 2px 2px 15px rgb(31, 30, 30);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--fontText);
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  color: white;
  #formFilter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    div{
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
    }
  }
  .MuiSelect-select{
    width: 100px;
  }
}
#carte {
  width: 40vw;
  height: 40vw;
  position: relative;
  max-width: calc(100vh - 200px);
  max-height: calc(100vh - 200px);
  min-width: 400px;
  min-height: 400px;
  img {
    width: 100%;
    height: 100%;
  }
}
.map{
  width: 50vw;
  height: 100vh;
}
@media screen and (max-width:1220px) {
  #filtre {
    #formFilter{
      flex-direction: column;
      align-items: center;
    }
  }
}
@media screen and (max-width:680px) {
  #filtre {
    flex-direction: column;
    align-items: center;
    #formFilter{
      flex-direction: column;
      align-items: center;
    }
  }
}