#navbar {
  font-family: var(--fontText);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  position: fixed;
  top: 0;
  background: rgba($color: #000000, $alpha: 0);
  backdrop-filter: blur(5px);
  padding: 10px;
  z-index: 2;
  ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    a {
      text-decoration: none;
      color: black;
      padding: 7px;
      border-radius: 7px;
      font-size: 20px;
      transition: 0.5s;
      li {
        list-style: none;
      }
    }
    a:hover {
      color: white;
      background: linear-gradient(to right, #eca588, #bdd2d3);
    }
    a.active {
      color: white;
      background: linear-gradient(to right, #eca588, #bdd2d3);
    }
  }
}
#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    img{
        width: 100px;
        height: 100px;
    }
    h2{
        font-family: 'Gumela';
    }
}
ul.MuiMenu-list{
    .MuiMenuItem-root:hover{
        background-color: transparent;
    }
    a {
        text-decoration: none;
        color: black;
        padding: 7px;
        border-radius: 7px;
        font-size: 20px;
        transition: 0.5s;
        li {
          list-style: none;
        }
      }
      a:hover {
        color: white;
        background: linear-gradient(to right, #eca588, #bdd2d3);
      }
      a.active {
        color: white;
        background: linear-gradient(to right, #eca588, #bdd2d3);
      }
}