#navbar {
  font-family: var(--fontNav);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: calc(100% - 40px);
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    a {
      text-decoration: none;
      color: white;
      font-size: 20px;
      transition: 0.5s;
      position: relative;
      li {
        list-style: none;
      }
      &::before{
        content: '';
        z-index: 1;
        width: 0;
        height: 3px;
        background: #508D06;
        position: absolute;
        top: -3px;
        left: -5%;
        transition: 0.3s;
      }
      &::after{
        content: '';
        z-index: 1;
        width: 0;
        height: 3px;
        background: #508D06;
        position: absolute;
        top: 25px;
        right: -5%;
        transition: 0.3s;
      }
    }
    a:hover::before {
      width: 110%;
    }
    a.active::before {
      width: 110%;
    }
    a:hover::after {
      width: 110%;
    }
    a.active::after {
      width: 110%;
    }
  }
}
#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #fff;
    div{
      padding: 5px;
      border-radius: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      z-index: 2;
      img{
          width: 100px;
          height: 100px;
      }
    }
    h2{
        font-family: 'Gumela';
        position: relative;
    }
    h2::before{
      content: '';
      position: absolute;
      top: -12px;
      left: -30px;
      height: 50px;
      width: 0;
      transition: 0.5s;
      background: linear-gradient(to right, #508D06, transparent);
      z-index: -1;
    }
    &:hover{
      h2::before{
        width: 150px;
      }
    }
}
ul.MuiMenu-list{
    .MuiMenuItem-root:hover{
        background-color: transparent;
    }
    a {
        text-decoration: none;
        color: white;
        padding: 7px;
        border-radius: 7px;
        font-size: 20px;
        transition: 0.5s;
        li {
          list-style: none;
        }
        &::before{
          content: '';
          z-index: 1;
          width: 3px;
          height: 0;
          background: #508D06;
          position: absolute;
          top: 0;
          left: 0;
          transition: 0.3s;
        }
        &::after{
          content: '';
          z-index: 1;
          width: 3px;
          height: 0;
          background: #508D06;
          position: absolute;
          bottom: 0;
          right: 0;
          transition: 0.3s;
        }
      }
      a:hover{
        color: #508D06;
      }
      a.active{
        color: #508D06;
      }
      a:hover::before {
        height: 100%;
      }
      a.active::before {
        height: 100%;
      }
      a:hover::after {
        height: 100%;
      }
      a.active::after {
        height: 100%;
      }
}